<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Medi-Box</title>
  <link rel="stylesheet" href="actual.css" />
  <link rel="icon" href="https://assets-global.website-files.com/63723fe799096ad12312edc2/63c6bdfec8ddd447434400c8_58.png">
</head>
<body>
  <div class="whole_form">
    <section class="history">
      <a href="history.html" target="_blank">History</a>
    </section><form >
    <fieldset>
      <legend>Enter the Info</legend>
      <p>
        <label for="medName_1">Name of the Medicine:</label>
        <input
          type="text"
          name="medName_1"
          id="medName_1"
          required
          autofocus
          autocomplete="on"
          <% if (isLoggedIn) {%>
            readonly
            value= <%= data[0].medicineName%>
            <%}%>
        />


      </p>
      <p>
        <label for="time_1">When it is need to be taken:</label>
        <input
          type="time"
          name="time_1"
          id="time_1"
          required
          autocomplete="on"
          <% if (isLoggedIn) { %>
            readonly
            value= <%= data[0].medicineTime%>
            <% }%>
        />
      </p>
      
      <p>
        <label for="dose_1">Enter the Dose:</label>
        <textarea
          name="dose_1"
          id="dose_1"
          cols="30"
          rows="2"
          placeholder="Enter the details regarding the dose here:"
          required
          autocomplete="on"
          <% if (isLoggedIn) { %>
            readonly
            <% } %>
        >
        <% if (isLoggedIn) { %>
         <%= data[0].medicineDoze%>
          <% } %></textarea>
      </p>
      <p>
        <label for="description_1">Enter the Description:</label>
        <textarea
          name="description_1"
          id="description_1"
          cols="30"
          rows="10"
          placeholder="Enter the description here:"
          autocomplete="on"
          <% if (isLoggedIn) { %>
            readonly
      
            <% }%>
        >
        <% if (isLoggedIn) { %>
      <%= data[0].medicineDescription%>
          <% } %></textarea>
      </p>
      <br><hr>
      <p>
        <label for="medName_2">Name of the Medicine:</label>
        <input
          type="text"
          name="medName_2"
          id="medName_2"
          required
          autofocus
          autocomplete="on"
          <% if (isLoggedIn) {%>
            readonly
            value= <%= data[1].medicineName%>
            <%}%>
        />
      </p>
      <p>
        <label for="time_2">When it is need to be taken:</label>
        <input
          type="time"
          name="time_2"
          id="time_2"
          required
          autocomplete="on"
          <% if (isLoggedIn) { %>
            readonly
            value= <%= data[1].medicineTime%>
            <% } %>
        />
      </p>
     
      <p>
        <label for="dose_2">Enter the Dose:</label>
        <textarea
          name="dose_2"
          id="dose_2"
          cols="30"
          rows="2"
          placeholder="Enter the details regarding the dose here:"
          required
          autocomplete="on"
          <% if (isLoggedIn) { %>
            readonly
          
            <% }%>
        ><% if (isLoggedIn) { %>
          <%= data[1].medicineDoze%>
          <% }%></textarea>
      </p>
      <p>
        <label for="description_2">Enter the Description:</label>
        <textarea
          name="description_2"
          id="description_2"
          cols="30"
          rows="10"
          placeholder="Enter the description here:"
          autocomplete="on"
          <% if (isLoggedIn) { %>
            readonly
            
            <% } %>
        ><% if (isLoggedIn) { %>
        <%= data[1].medicineDescription%>
          <% } %></textarea>
      </p>
      <br><hr>
      <p>
        <label for="medName_3">Name of the Medicine:</label>
        <input
          type="text"
          name="medName_3"
          id="medName_3"
          required
          autofocus
          autocomplete="on"
          <% if (isLoggedIn) {%>
            readonly
            value= <%= data[2].medicineName%>
            <% }%>
        />
      </p>
      <p>
        <label for="time_3">When it is need to be taken:</label>
        <input
          type="time"
          name="time_3"
          id="time_3"
          required
          autocomplete="on"
          <% if (isLoggedIn) { %>
            readonly
            value= <%= data[2].medicineTime%>
            <% } %>
        />
      </p>
     
      <p>
        <label for="dose_3">Enter the Dose:</label>
        <textarea
          name="dose_3"
          id="dose_3"
          cols="30"
          rows="2"
          placeholder="Enter the details regarding the dose here:"
          required
          autocomplete="on"
          <% if (isLoggedIn) { %>
            readonly
          
            <% }%>
        > <% if (isLoggedIn) { %>
           <%= data[2].medicineDoze%>
          <% }%></textarea>
      </p>
      <p>
        <label for="description_3">Enter the Description:</label>
        <textarea
          name="description_3"
          id="description_3"
          cols="30"
          rows="10"
          placeholder="Enter the description here:"
          autocomplete="on"
          <% if (isLoggedIn) { %>
            readonly
          
            <% } %>
        > <% if (isLoggedIn) { %>
           <%= data[2].medicineDescription%>
          <% } %></textarea>
      </p>
    </fieldset>

    <%if (!isLoggedIn){%><button type="submit" formaction="http://172.31.16.85:6969/submit" formmethod="post"> Submit </button><%}%>
  </form>

  
  </div>
</body>